body {
  font-family: "Manrope", sans-serf;
  background-color: #c6c6c6;
}

h1 {
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  color: #ffd05a;
}

h3 {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.recipe-counter {
  font-family: "Anton", sans-serif;
}
